.services {
  padding-bottom: 100px;
}

.description-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-title > p {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #7637DD;
  padding-left: 16px;
}

.description-title span {
  height: 2px;
  background: #7637DD;
  width: 32px;
  display: block;
}

.description-title-digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 87px;
}

.description-title-digital h2 {
  margin-top: 13px;
}

.description-title-digital a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.description-title-digital a p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #252525;
  padding-right: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.description-title-digital a:hover p {
  color: #7637DD;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.single-service {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
  width: calc(33.3333% - 10px);
}

.service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}

.service-title p {
  margin-left: 28px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ABA9AF;
}

.service-title span {
  display: block;
  background: #7637DD;
  width: 4px;
  height: 47px;
}

.service-description {
  padding: 0 32px;
}

.service-description h3 {
  font-weight: 600;
  font-size: 23px;
  line-height: 1.3em;
  color: #252525;
  margin-bottom: 12px;
}

.service-description span {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #5F5F5F;
  display: block;
  margin-bottom: 24px;
}

.full-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-plus {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.service-plus span {
  position: absolute;
  width: 25px;
  background: #000000;
  height: 2px;
  top: 11px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.service-plus span:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.service-plus:hover {
  background: #7637DD;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 54px;
  height: 54px;
  margin: 0;
}

.service-plus:hover span {
  background: #fff;
  margin: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.service-plus-wrapper {
  width: 54px;
  height: 54px;
  float: right;
  position: relative;
}

@media (max-width: 1024px) {
  .description-title-digital {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 45px;
  }

  .description-title-digital h2 {
    margin-bottom: 12px;
  }

  .full-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .single-service {
    width: 100%;
  }

  .single-service:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .description-title > p {
    font-size: 10px;
  }

  .description-title span {
    width: 20px;
  }
}