.information {
    padding: 40px 0 100px;
}
.information-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-content{
    width: calc(50% - 10px);
    position: relative;
    .slider-arrows{
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        border: 2px solid #252525;
        padding: 4px;
        width: 169px;
        min-height: 70px;
        background-color: #F8F8F8;
        z-index: 1;
        .slider-arrow{
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.slick-arrow{
                position: static;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #252525;
            opacity: 0.2;
            width: 1px;
            height: calc(100% - 16px);
        }
    }
    .slide-wrapper{
        .slide{
            position: relative;
            height: 0;
            padding-bottom: 118%;
            img{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.information-description {
    width: calc(50% - 10px);
    > h1 {
        margin-bottom: 45px;
    }
}
.btn:hover {
    background: #252525;
}
.slick-arrow {
    position: absolute;
    top: 99%;
    left: 99%;
}
.slider-wrapper {
    position: relative;
}
@media (max-width: 767px) {
    .slider-content .slide-wrapper .slide {
        padding-bottom: 169%;
    }
    .slider-content .slider-arrows {
        width: 110px;
        min-height: 50px;
    }
}